<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2015, Praxigento
 * All rights reserved.
 */
-->
<!-- http://www.magentocommerce.com/wiki/5_-_modules_and_development/reference/module_config.xml -->
<config>
    <modules>
        <Praxigento_SavedCards>
            <version>0.0.1</version>
        </Praxigento_SavedCards>
    </modules>
    <global>
        <blocks>
            <prxgt_savedcards_block>
                <class>Praxigento_SavedCards_Block</class>
            </prxgt_savedcards_block>
        </blocks>
        <helpers>
            <!-- Default helper for module (prevents errors like "Class 'Namespace_Module_Helper_Data' not found in") -->
            <!-- used in <node module="nspace_module_helper"> nodes -->
            <prxgt_savedcards_helper>
                <class>Praxigento_SavedCards_Helper</class>
            </prxgt_savedcards_helper>
        </helpers>
        <models>
            <prxgt_savedcards_model>
                <class>Praxigento_SavedCards_Model</class>
                <resourceModel>prxgt_savedcards_model_resource</resourceModel>
            </prxgt_savedcards_model>
            <prxgt_savedcards_model_resource>
                <class>Praxigento_SavedCards_Resource</class>
                <entities>
                    <own_registry_card>
                        <table>prxgt_savedcards_registry_card</table>
                    </own_registry_card>
                </entities>
            </prxgt_savedcards_model_resource>
        </models>
        <resources>
            <prxgt_savedcards_setup>
                <setup>
                    <module>Praxigento_SavedCards</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </prxgt_savedcards_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <prxgt_savedcards_admin_layout>
                    <file>prxgt/savedcards/layout.xml</file>
                </prxgt_savedcards_admin_layout>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <payment>
            <prxgt_savedcards_method translate="title" module="prxgt_savedcards_helper">
                <!-- hardcoded values -->
                <model>prxgt_savedcards_model/own_payment_method</model>
                <order_status>processing</order_status>
                <!-- configurable parameters -->
                <active>0</active>
                <title>Pay by Card</title>
                <cctypes>AE,VI,MC,DI</cctypes>
            </prxgt_savedcards_method>
        </payment>
    </default>
</config>